name: Deploy Smart Scaler to Lambda
on:
  push:
    branches: [ master ]

    paths:
      - src/**

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt -t ./src

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Zip Bundle
        run: |
          cd src && zip -r ../deploy.zip .

      - name: Pulumi login
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
        run: pulumi login

      - name: Pulumi Refresh - Autoscaler
        run: |
          pulumi stack select dev --create --cwd infra/k3s-cluster/worker
          pulumi refresh --yes --cwd infra/k3s-cluster/worker
          pulumi up --yes --cwd infra/k3s-cluster/worker

      - name: Update Lambda Code
        run: |
          aws lambda update-function-code \
            --function-name cluster-autoscaler \
            --zip-file fileb://deploy.zip